<div class="cont">
  <h4>-<%= params[:question] %></h4>
  <p>-You<p>
</div>
<br>
<div class="cont active">
  <h4>-<%= @answer %></h4>
  <p>-Your Coach</p>
</div>
<p><%= link_to "ask again", ask_path %></p>
